<%- layout('boilerplate') %>

<div class="landing-page">
  <h1>Track My Expense</h1>

  <div class="logo">
    <img src="/images/logo.png" alt="logo" />
  </div>

  <p>Start tracking your expense today</p>

  <a class="register-btn login-btn" href="/login">Login</a>
  <a class="register-btn reg-btn" href="/register">Register</a>

  <p class="love">Made with <span class="heart">❤</span> by <a href="">Anurag Singh</a></p>
</div>
