<%- layout('boilerplate') %>

<div class="register-title">
  <div class="register-content">
    <h1>Login</h1>
    <p>And start tracking your expenses!</p>
  </div>
</div>
<div class="register-form">
  <form action="/login" method="POST">
    <div class="form-input">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" required />
    </div>
    <div class="form-input">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required />
    </div>
    <button class="register-btn login-btn">Login</button>
  </form>
  <p class="love">Made with <span class="heart">❤</span> by <a href="">Anurag Singh</a></p>
</div>
