<%- layout('boilerplate') %>

<h1>Login</h1>
  <form action="/login" method="POST">
    <div class="form-input">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" required />
    </div>
    <div class="form-input">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required />
    </div>
    <button>Submit</button>
  </form>