<h3><%= success %></h3>
<h3><%= error %></h3>
<h1>Add Balance</h1>
  <form action="/balance" method="POST">
    <div class="form-input">
      <label for="balance">Balance</label>
      <input type="text" name="balance" id="balance" required />
    </div>
    <button>Update</button>
  </form>